.body {
    padding: 0;
    margin: 0;
}

.head-container {
    text-align: center;
    font-style: italic;
}

.main-header {
    font-weight: 700;
}

.sub-header {
 font-size: 10px;
}

.card {
    padding: 1vw;
    border: 0;
    margin: 0;
    width: 20vw;  
}

.card-images {

}

.card-deck {
    justify-content: center;
    padding-top: 3vh;
}
